.calculadora{
     background-color: blueviolet;
     width: 200px;
     padding: 10px;
     border-radius: 10px;
     box-shadow: 5px 5px; color: rgb(4, 3, 5);

 }
 .calculadora input{
     background-color: white;
     border: none;
     padding: 5px;
     border-radius: 5px;
 } 
 .calculadora input:focus{
     background-color: rgb(121, 55, 121);
     color: black;
 }
 #bntCalc {
     background-color: rgb(0, 0, 0);
     color: cornsilk;
     padding: 5px;
     border-radius: 5px;
 }

#bntCalc:hover {
    background-color: rgb(0, 0, 0);
    color: cornsilk;
    cursor: pointer;
}
.spResultado{
    background: rgba(197, 114, 179, 0.664);
    color: black;
    padding: 4px;
    margin: 2px;
    border-radius: 10px;
}
.spMes {
    color: plum;
    border-width: 1px;
    border-style: dashed;
    border-color: white;
    text-align: start;
}
